@import url('https://fonts.googleapis.com/css?family=Roboto:500');
*{
    outline: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
input, a{
    outline: none;
}
#authForm{
    padding: 0 30px;
}
#authForm span{
    color: #ff1000;
    font-family: 'Roboto', sans-serif;
}
#reg_form{
    padding: 0 10px;
}
#reg_form #showPassword{
    right: 10px;
}
#reg_form span{
    color: #ff1000;
    font-family: 'Roboto', sans-serif;
}
.card{
    margin: 13% auto;
    max-width: 400px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.reg{
    margin: 3% auto;
    max-width: 500px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#showPassword{
    position: absolute;
    right: 0;
    top: 0;
    line-height: 60px;
}
#showPassword i{
    color: #bdbdbd;
}
#showPassword i:hover{
    color: #000;
    transition: 0.8s;
}

#password{
    position: relative;
}
.brand-logo i{
    margin: 0 20px;
}
nav .brand-logo i.material-icons{
    font-size: 30px;
}
.nav-extended{
    z-index: 99999999;
}
.side-nav{
    top: auto;
}
#authUser{
    margin: 0 10px;
    line-height: 62px;
}

#group_filter label .input-sm{
    width: auto;
}
#inGroup{
    padding: 0 30px;
}
#content{
    width: 75%;
}
.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
